# Unix
alias tlf='tail -f'
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='../..'
alias -g G='| grep'
alias -g M='| less'
alias e="$EDITOR"
alias v="$VISUAL"

# Rails
alias migrate='rake db:migrate db:rollback && rake db:migrate'
alias rk='rake'
alias s='rspec'

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
